<!DOCTYPE html>
<html>
<head>
    <title>Placement Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<nav class="navbar">
    <div class="nav-left">
        <h2>Placement Tracker</h2>
    </div>

    <div class="nav-right">
        <a href="/">Home</a>
        <a href="/chart">Chart</a>
        <button onclick="toggleDarkMode()" class="dark-btn">🌙</button>

        <a href="/logout" class="logout-btn">Logout</a>
    </div>
</nav>

<body>

<div class="container">

<h1>Placement Preparation Tracker</h1>

<form action="/analyze" method="POST">

<label>Aptitude Score</label><br>
<input type="number" name="aptitude" required><br><br>

<label>Coding Score</label><br>
<input type="number" name="coding" required><br><br>

<label>Core CS Score</label><br>
<input type="number" name="core" required><br><br>

<button type="submit">Analyze</button>

</form>

</div>
<script>
function toggleDarkMode() {
    document.body.classList.toggle("dark");
    localStorage.setItem(
        "darkMode",
        document.body.classList.contains("dark")
    );
}

window.onload = function () {
    if (localStorage.getItem("darkMode") === "true") {
        document.body.classList.add("dark");
    }
};
</script>

</body>
</html>
